<div style="text-align:center">
  <h1>
    {{title}}
  </h1>

  <div class="container">
      <td>
      <a class="btn btn-primary btn-sm" routerLink="index" routerLinkActive="active">
        <i class="fa fa-eye" ></i> Data Mahasiswa
      </a>  </td> 
      <td>
      <a class="btn btn-primary btn-sm " routerLink="create" routerLinkActive="active">
        <i class="fa fa-plus" ></i> Add Mahasiswa
      </a>
      </td>
    <br>    
    <br>    
    <router-outlet></router-outlet>
  </div>
</div>